body, html {
  font-family: "Helvetica LT Std";
  width: 100%;
  height: 100%;
  overflow: visible;
  margin: 0;
  font-size: 10px;
  font-weight: 400; }

.centrado {
  width: 938px;
  margin: 0 auto;
  position: relative;
  min-height: 0px;
  overflow: hidden; }

h1 {
  font-size: 43.1px;
  font-family: "Helvetica LT Std";
  font-weight: 700; }

h2 {
  font-size: 35px;
  font-family: "Helvetica LT Std";
  font-weight: 700; }

h3 {
  font-size: 30px;
  font-family: "Helvetica LT Std";
  font-weight: 700; }

h4 {
  font-size: 18px;
  font-family: "Helvetica LT Std";
  font-weight: 700; }

span, p {
  font-size: 13px;
  font-family: "Helvetica LT Std";
  font-weight: 700; }

.centrado {
  width: 938px;
  margin: 0 auto; }

h1 {
  font-size: 43.1px;
  font-family: "Helvetica LT Std"; }

h2 {
  font-size: 35px;
  font-family: "Helvetica LT Std"; }

h3 {
  font-size: 30px;
  font-family: "Helvetica LT Std"; }

h4 {
  font-size: 18px;
  font-family: "Helvetica LT Std"; }

span, p {
  font-size: 13px;
  font-family: "Helvetica LT Std"; }

.mt-1 {
  margin-top: 10px; }

.mt-2 {
  margin-top: 20px; }

.mt-3 {
  margin-top: 30px; }

.mt-4 {
  margin-top: 40px; }

.mt-5 {
  margin-top: 50px; }

.mt-6 {
  margin-top: 60px; }

.pt-1 {
  padding-top: 10px; }

.pt-2 {
  padding-top: 20px; }

.pt-3 {
  padding-top: 30px; }

.pt-4 {
  padding-top: 40px; }

.pt-5 {
  padding-top: 50px; }

.pt-6 {
  padding-top: 60px; }

.text-center {
  text-align: center; }

/* BOTONES */
.btnAnaranjado, .btnAnaranjado:focus {
  padding: 14px 22px;
  background-color: #f9762f;
  color: #ffffff;
  border: 0;
  font-size: 18px;
  outline: 0;
  font-weight: bold;
  border-radius: 2px;
  font-family: "Helvetica LT Std";
  cursor: pointer; }

.btnAzul, .btnAzul:focus {
  padding: 14px 22px;
  background-color: #0096d7;
  color: #ffffff;
  border: 0;
  font-size: 18px;
  outline: 0;
  border-radius: 2px;
  font-family: "Helvetica LT Std";
  cursor: pointer; }

.btnAzulOscuro, .btnAzulOscuro:focus {
  padding: 14px 22px;
  background-color: #005d80;
  color: #ffffff;
  border: 0;
  font-size: 18px;
  outline: 0;
  border-radius: 2px;
  font-family: "Helvetica LT Std";
  cursor: pointer; }

.btnBlanco, .btnBlanco:focus {
  padding: 14px 22px-2 14px 22px-2;
  background-color: #ffffff;
  color: #0096d7;
  border: 2px solid #0096d7;
  font-size: 18px;
  outline: 0;
  border-radius: 2px;
  font-family: "Helvetica LT Std";
  cursor: pointer; }

/* TITULOS */
.titlePrin {
  font-weight: lighter;
  color: #0096d7; }

.titleSec {
  font-weight: bold;
  color: #0096d7; }

.titleMenu {
  font-family: "Helvetica LT Std";
  font-size: 15px;
  color: #0096d7;
  display: inline-block;
  line-height: 30px;
  margin-left: 36px;
  position: relative; }

/* ICONOS */
.fontIcoRedes {
  background-color: #0096d7;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: relative;
  display: block; }

.fontIcoSec {
  background-color: #ffffff;
  border-radius: 50%;
  width: 87px;
  height: 87px;
  position: relative;
  display: block;
  border: 1px solid #d3d3d2; }

.ico-fb:before {
  content: "\f09a";
  font-size: 18px;
  font-family: "Fontawesome";
  color: #e9f0f7;
  position: absolute;
  top: 7px;
  left: 9px; }

.ico-tw:before {
  content: "\f099";
  font-size: 18px;
  font-family: "Fontawesome";
  color: #e9f0f7;
  position: absolute;
  top: 7px;
  left: 7px; }

.ico-in:before {
  content: "\f0e1";
  font-size: 18px;
  font-family: "Fontawesome";
  color: #e9f0f7;
  position: absolute;
  top: 6px;
  left: 7px; }

.ico-yt:before {
  content: "\f167";
  font-size: 18px;
  font-family: "Fontawesome";
  color: #e9f0f7;
  position: absolute;
  top: 6px;
  left: 7px; }

.icoCalculadora:before {
  content: url(../img/icoCalculadora.png);
  position: absolute;
  top: 21px;
  left: 24px; }

.icoRegalo:before {
  content: url(../img/icoRegalo.png);
  position: absolute;
  top: 19px;
  left: 25px; }

.icoMause:before {
  content: url(../img/icoMause.png);
  position: absolute;
  top: 21px;
  left: 23px; }

.icoCuentaAhorro:before {
  content: url(../img/icoCuentaAhorro.png);
  position: absolute;
  width: 30px;
  height: 30px;
  left: -33px; }

.icoTarjetas:before {
  content: url(../img/icoTarjetas.png);
  position: absolute;
  width: 30px;
  height: 30px;
  left: -33px; }

.icoPrestamos:before {
  content: url(../img/icoPrestamos.png);
  position: absolute;
  width: 30px;
  height: 30px;
  left: -33px; }

.icoSegurosServicios:before {
  content: url(../img/icoSegurosServicios.png);
  position: absolute;
  width: 30px;
  height: 30px;
  left: -33px; }

.icoInversion:before {
  content: url(../img/icoInversion.png);
  position: absolute;
  width: 30px;
  height: 30px;
  left: -33px; }

.icoUserFooter:before {
  content: url(../img/icoUserFooter.png);
  position: absolute;
  left: 10px; }

.icoEmpreFooter:before {
  content: url(../img/icoEmpreFooter.png);
  position: absolute;
  left: 10px; }

/* MENU */
.menuRedes {
  list-style: none;
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 20px; }

.menuRedes > li {
  display: inline-block;
  margin-left: 15px; }

/* grilla y columna */
.grilla-1 {
  position: relative;
  float: left;
  width: 8.33%;
  box-sizing: border-box;
  min-height: 0px;
  overflow: hidden;
  left: 0;
  top: 0;
  padding: 0 11px; }

.grilla-2 {
  position: relative;
  float: left;
  width: 16.66%;
  box-sizing: border-box;
  min-height: 0px;
  overflow: hidden;
  left: 0;
  top: 0;
  padding: 0 11px; }

.grilla-3 {
  position: relative;
  float: left;
  width: 24.99%;
  box-sizing: border-box;
  min-height: 0px;
  overflow: hidden;
  left: 0;
  top: 0;
  padding: 0 11px; }

.grilla-4 {
  position: relative;
  float: left;
  width: 33.32%;
  box-sizing: border-box;
  min-height: 0px;
  overflow: hidden;
  left: 0;
  top: 0;
  padding: 0 11px; }

.grilla-5 {
  position: relative;
  float: left;
  width: 41.65%;
  box-sizing: border-box;
  min-height: 0px;
  overflow: hidden;
  left: 0;
  top: 0;
  padding: 0 11px; }

.grilla-6 {
  position: relative;
  float: left;
  width: 49.98%;
  box-sizing: border-box;
  min-height: 0px;
  overflow: hidden;
  left: 0;
  top: 0;
  padding: 0 11px; }

.grilla-7 {
  position: relative;
  float: left;
  width: 58.31%;
  box-sizing: border-box;
  min-height: 0px;
  overflow: hidden;
  left: 0;
  top: 0;
  padding: 0 11px; }

.grilla-8 {
  position: relative;
  float: left;
  width: 66.64%;
  box-sizing: border-box;
  min-height: 0px;
  overflow: hidden;
  left: 0;
  top: 0;
  padding: 0 11px; }

.grilla-9 {
  position: relative;
  float: left;
  width: 74.97%;
  box-sizing: border-box;
  min-height: 0px;
  overflow: hidden;
  left: 0;
  top: 0;
  padding: 0 11px; }

.grilla-10 {
  position: relative;
  float: left;
  width: 83.3%;
  box-sizing: border-box;
  min-height: 0px;
  overflow: hidden;
  left: 0;
  top: 0;
  padding: 0 11px; }

.grilla-11 {
  position: relative;
  float: left;
  width: 91.63%;
  box-sizing: border-box;
  min-height: 0px;
  overflow: hidden;
  left: 0;
  top: 0;
  padding: 0 11px; }

.grilla-12 {
  position: relative;
  float: left;
  width: 99.96%;
  box-sizing: border-box;
  min-height: 0px;
  overflow: hidden;
  left: 0;
  top: 0;
  padding: 0 11px; }

.des-center {
  margin: 0 auto;
  float: none;
  clear: both; }

.row {
  position: relative;
  float: none;
  clear: both;
  min-height: 0px;
  overflow: hidden;
  width: 100%; }

.colms {
  position: relative;
  min-height: 0px;
  overflow: hidden; }

.left {
  float: left; }

.right {
  float: right; }

.no-pd {
  padding: 0 0; }

.no-pl {
  padding-left: 0 !important; }

.no-pr {
  padding-right: 0 !important; }

/* FOOTER */
.fondoFooter {
  width: 100%;
  background-color: #e9f0f7;
  border-top: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
  padding: 65px 0 30px 0; }

.listFooter {
  padding: 45px 0 0 0; }

.listFooter li {
  font-family: "Helvetica LT Std"; }

.titleFooter {
  font-size: 15px;
  padding-bottom: 7px; }

.listFooter .descList {
  font-size: 13px;
  font-weight: lighter;
  padding-bottom: 7px; }

.icoUserFooter, .icoEmpreFooter {
  margin-left: 20px;
  line-height: 1.5; }

.listFooter2 li {
  display: inline-block;
  padding: 0 8px; }

.border-r {
  border-right: 1px solid #dcdcdc; }

.listFooter2 li {
  font-size: 13px; }

.txt-parrafo {
  color: #9f9f9f;
  font-size: 12px;
  font-family: "Helvetica LT Std";
  font-weight: lighter;
  line-height: 1.5; }

/* utilitarios */
.section {
  position: relative;
  width: 100%;
  min-height: 0;
  overflow: hidden; }

/* utilitarios */

/*# sourceMappingURL=min.css.map */
