$anaranjado: #f9762f; $azul: #0096d7; $azulOscuro: #005d80; $blanco: #ffffff; $font-size: 10px; $paddingBtn: 14px 22px; $font-family: "Helvetica LT Std"; $font-lite: "Helvetica 45 Light"; $font-bold: "Helvetica LT Std"; $font-mid: "HelveticaNeueLT Std Med"; $font-thin: "Helvetica 35 Thin";
body, html { font-family: $font-family; width: 100%; height: 100%; overflow: visible; margin: 0; font-size: $font-size; font-weight: 400; }
.centrado { width: 938px; margin: 0 auto; position: relative; min-height: 0px; overflow: hidden; }
h1 { font-size: 43.1px; font-family: $font-family; font-weight: 700; }
h2 { font-size: 35px; font-family: $font-family; font-weight: 700; }
h3 { font-size: 30px; font-family: $font-family; font-weight: 700; }
h4 { font-size: 18px; font-family: $font-family; font-weight: 700; }
span, p { font-size: 13px; font-family: $font-family; font-weight: 700; }

/* BOTONES */
.btnAnaranjado, .btnAnaranjado:focus { padding: $paddingBtn; background-color: $anaranjado; color: $blanco; border: 0; font-size: $font-size*1.8; outline: 0; font-weight: bold; border-radius: 2px; font-family: $font-family; cursor: pointer }
.btnAzul, .btnAzul:focus { padding: $paddingBtn; background-color: $azul; color: $blanco; border: 0; font-size: $font-size*1.8; outline: 0; border-radius: 2px; font-family: $font-family; cursor: pointer }
.btnAzulOscuro, .btnAzulOscuro:focus { padding: $paddingBtn; background-color: $azulOscuro; color: $blanco; border: 0; font-size: $font-size*1.8; outline: 0; border-radius: 2px; font-family: $font-family; cursor: pointer }
.btnBlanco, .btnBlanco:focus { padding: 12px 20px; background-color: $blanco; color: $azul; border: 2px solid $azul; font-size: $font-size*1.8; outline: 0; border-radius: 2px; font-family: $font-family; cursor: pointer }

/* TITULOS */
.titlePrin { font-weight: lighter; color: $azul }
.titleSec { font-weight: bold; color: $azul }
.titleMenu { font-family: $font-family; font-size: 15px; color: $azul; display: inline-block; line-height: 30px; margin-left: 36px; position: relative; }

/* ICONOS */
.fontIcoRedes { background-color: $azul; border-radius: 50%; width: 30px; height: 30px; cursor: pointer; position: relative; display: block }
.fontIcoSec { background-color: $blanco; border-radius: 50%; width: 87px; height: 87px; position: relative; display: block; border: 1px solid #d3d3d2 }
.ico-fb:before { content: "\f09a"; font-size: 18px; font-family: "Fontawesome"; color: #e9f0f7; position: absolute; top: 7px; left: 9px; }
.ico-tw:before { content: "\f099"; font-size: 18px; font-family: "Fontawesome"; color: #e9f0f7; position: absolute; top: 7px; left: 7px; }
.ico-in:before { content: "\f0e1"; font-size: 18px; font-family: "Fontawesome"; color: #e9f0f7; position: absolute; top: 6px; left: 7px; }
.ico-yt:before { content: "\f167"; font-size: 18px; font-family: "Fontawesome"; color: #e9f0f7; position: absolute; top: 6px; left: 7px; }
.icoCalculadora:before { content: url(../img/icoCalculadora.png); position: absolute; top: 21px; left: 24px; }
.icoRegalo:before { content: url(../img/icoRegalo.png); position: absolute; top: 19px; left: 25px; }
.icoMause:before { content: url(../img/icoMause.png); position: absolute; top: 21px; left: 23px; }
.icoCuentaAhorro:before { content: url(../img/icoCuentaAhorro.png); position: absolute; width: 30px; height: 30px; left: -33px; }
.icoTarjetas:before { content: url(../img/icoTarjetas.png); position: absolute; width: 30px; height: 30px; left: -33px; }
.icoPrestamos:before { content: url(../img/icoPrestamos.png); position: absolute; width: 30px; height: 30px; left: -33px; }
.icoSegurosServicios:before { content: url(../img/icoSegurosServicios.png); position: absolute; width: 30px; height: 30px; left: -33px; }
.icoInversion:before { content: url(../img/icoInversion.png); position: absolute; width: 30px; height: 30px; left: -33px; }

/* MENU */
.menuRedes { list-style: none; }
.menuRedes > li { display: inline-block; }

/* grilla y columna */
.grilla-1 { padding: 0 1.1 * $font-size; position: relative; float: left; width: 8.33%; box-sizing: border-box; min-height: 0px; overflow: hidden; left: 0; top: 0; }
.grilla-2 { padding: 0 1.1 * $font-size; position: relative; float: left; width: 16.66%; box-sizing: border-box; min-height: 0px; overflow: hidden; left: 0; top: 0; }
.grilla-3 { padding: 0 1.1 * $font-size; position: relative; float: left; width: 24.99%; box-sizing: border-box; min-height: 0px; overflow: hidden; left: 0; top: 0; }
.grilla-4 { padding: 0 1.1 * $font-size; position: relative; float: left; width: 33.32%; box-sizing: border-box; min-height: 0px; overflow: hidden; left: 0; top: 0; }
.grilla-5 { padding: 0 1.1 * $font-size; position: relative; float: left; width: 41.65%; box-sizing: border-box; min-height: 0px; overflow: hidden; left: 0; top: 0; }
.grilla-6 { padding: 0 1.1 * $font-size; position: relative; float: left; width: 49.98%; box-sizing: border-box; min-height: 0px; overflow: hidden; left: 0; top: 0; }
.grilla-7 { padding: 0 1.1 * $font-size; position: relative; float: left; width: 58.31%; box-sizing: border-box; min-height: 0px; overflow: hidden; left: 0; top: 0; }
.grilla-8 { padding: 0 1.1 * $font-size; position: relative; float: left; width: 66.64%; box-sizing: border-box; min-height: 0px; overflow: hidden; left: 0; top: 0; }
.grilla-9 { padding: 0 1.1 * $font-size; position: relative; float: left; width: 74.97%; box-sizing: border-box; min-height: 0px; overflow: hidden; left: 0; top: 0; }
.grilla-10 { padding: 0 1.1 * $font-size; position: relative; float: left; width: 83.3%; box-sizing: border-box; min-height: 0px; overflow: hidden; left: 0; top: 0; }
.grilla-11 { padding: 0 1.1 * $font-size; position: relative; float: left; width: 91.63%; box-sizing: border-box; min-height: 0px; overflow: hidden; left: 0; top: 0; }
.grilla-12 { padding: 0 1.1 * $font-size; position: relative; float: left; width: 99.96%; box-sizing: border-box; min-height: 0px; overflow: hidden; left: 0; top: 0; }
.row { position: relative; float: none; clear: both; min-height: 0px; overflow: hidden; width: 100%; }
.colms { position: relative; min-height: 0px; overflow: hidden; }
.left { float: left; }
.right { float: right; }
.no-pd { padding: 0 0; }
.no-pd-der { padding-right: 0; }
.no-pd-lef { padding-left: 0; }

/* utilitarios */
.section { position: relative; width: 100%; min-height: 0; overflow: hidden; }

/* utilitarios */